 <div class="col-12 col-lg-6">
        <div>
          <form class="form-group " method="POST" action="/add-city"><!-- Lien de la route POST backend -->
            <input type="text" name="cityName" class="form-control" id="ville"
              placeholder="Rechercher une ville, ex : Paris, Lille, Forbach..." value="">
              <input type="hidden" name="cityIMG" > <!-- Image --> <!-- Elémentq à récupérer pour le backend -->
              <input type="hidden" name="cityDES" > <!-- Description  --> <!-- Elémentq à récupérer pour le backend -->
              <input type="hidden" name="cityMin" > <!-- Température minimum --> <!-- Elémentq à récupérer pour le backend -->
              <input type="hidden" name="cityMax" > <!-- Température maxium --> <!-- Elémentq à récupérer pour le backend -->
              <button type="submit" class="btn btn-warning">Enregistrer</button> <!-- Bouton pour enregistrer -->
          </form>

        <%  if (cityList.length == 0) {%>
            <div>
              <img src="/images/bg1.svg" width="auto" height="auto" alt="">
            </div>
        <%  } else {
          for(var i = 0 ; i < cityList.length ; i++){ %>

        <!-- Début de la boucle -->
        
        <div>
          <ul class="list-group" data-lng=" <%= cityList[i].lng %>" data-lat=" <%= cityList[i].lat %>" data-name="<%=cityList[i].name%>">
            <li class="list-group-item d-flex justify-content-between align-items-center"  >
              <h5 class="col-1"><%=cityList[i].name%></h5>
              <span class="offset-2 col-1"> <img src="<%=cityList[i].img%>" width="auto" height="50" alt=""></span>
              <span class="desc col-2"><%=cityList[i].desc%></span> 
              <span class="badge badge-warning col-1" ><%=cityList[i].temp_min%>°C</span>
              <span class="badge badge-secondary col-1" ><%=cityList[i].temp_max%>°C</span>
              <!-- Delete -->
              <a href="/delete-city?id=<%=cityList[i]._id%>" class="col-1"> <img src="/images/cancel.svg" width="auto" height="20" alt=""></a>
            </ul>
        </div>
          <%  } %>
          <% } %>
        <!-- Fin de la boucle -->
      </div>

    </div>